@import 'styles/typography.css';
@import 'styles/colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', serif;
}

ul, li{
    list-style: none;
}

a {text-decoration: none;}

button {border: none;}